include ../includes/galleryIncludes.pug
doctype html
html(lang="en")
  head
    +head("Education | Ismail Salah")
  body
    +nav
    //- start main page
    
    .main
      +heading("Education")
      .container
        .text(data-aos="fade-right")
          h1 Canadian School
      .container
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/education/1.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/education/1.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="https://www.youtube.com/watch?v=ne4A4qqoW5g", class="fancybox", data-fancybox="gallery1")
            video(width="320", height="240", poster="https://i.ytimg.com/vi/ne4A4qqoW5g/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBms69LoLKNUw_OObbu4RJTl67lNQ")
              source(src="../imagesGallery/education/cinematic-video.mp4", type="video/mp4")
      .container
        .text(data-aos="fade-right")
          h1 Al Bayan
      .container
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../imagesGallery/education/1.jpg", class="fancybox", data-fancybox="gallery1")
            img(src="../imagesGallery/education/1.jpg")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="https://www.youtube.com/watch?v=ne4A4qqoW5g", class="fancybox", data-fancybox="gallery1")
            video(width="320", height="240", poster="https://i.ytimg.com/vi/ne4A4qqoW5g/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBms69LoLKNUw_OObbu4RJTl67lNQ")
              source(src="../imagesGallery/education/cinematic-video.mp4", type="video/mp4")

    //- End main page
    +footer
    +loading
    +scripts